<div fxLayout="row" fxLayoutAlign="center start" id="login-container">
  <div class="card" fxFlex="50">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
      <form (ngSubmit)="onLogin()" [formGroup]="form">
        <div class="form-group">
          <label for="username">Username</label>
          <input [ngClass]="{ 'is-invalid': submitted && f.username.errors }" class="form-control" formControlName="username" id="username"
                 placeholder="Username"
                 type="text"/>
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input [ngClass]="{ 'is-invalid': submitted && f.password.errors }" class="form-control" formControlName="password" id="password"
                 placeholder="Password"
                 type="password"/>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
        <div class="form-group mt-3">
          <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
